.section1-container h1{
    font-size: 44px;
    font-weight: 700;
    opacity: 0;
    transition: all 0.5s ease;
}

.section1-container p{
    opacity: 0;
    transition: all 0.5s ease;
}

.section1-container .btn{
    opacity: 0;
    transition: all 0.5s ease;
    margin-top: 3rem;
}

.section1-image{
    opacity: 0;
    transition: all 0.5s ease;
}

.section1-container .wave{
    position: absolute ; 
    bottom: 0 ; 
    min-height: 100px;
    object-fit: cover;
    animation: firstanim 5s ease;
}

@media screen and (max-height: 700px) {
    #section1{
        margin-top: 5rem;
    }

    #section1 .btn{
        margin-bottom: 8rem;
    }

}

@keyframes firstanim {
    from{
        transform: scaleX(5);
    }
    to{
        transform: scaleX(1);
    }
}

@keyframes animimg{
    from{
        opacity: 0;
        transform: translateY(-50%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}