.imgContainer {
    position: relative;
    text-align: center;
    color: white;
    z-index: 0;
  }

.imgContainer .title{
    position: absolute;
    margin: auto;
    font-weight: 700;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
