.card-competence-container{
    max-width: 377px;
    height: 480px !important;
    border-radius: 15px !important;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 1.5s ease;
}

#section3 .visible{
    opacity:1;
    transform: translateX(0);
    transition: all 1.5s ease;
}



