#section3-2 .logo{
    opacity: 0;
    transition: all 1.3s ease;
}

#section3-2 .logo-1{
    transform: translateX(-50%);
}

#section3-2 .logo-2{
    transform: translateX(50%);
}

#section3-2 .texts{
    opacity: 0;
    transition: all 1.3s ease;
}

#section3-2 .text-visible{
    opacity: 1;
    transform: translateX(0);
}

#section3-2 .img-visible{
    opacity: 1;
    transform: translateX(0);
}